body{
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  width: 375px
}

h1{
  display: inline;
  text-align: center;
  margin: auto;
}

h3{
  padding: 4% 0 0 4%;
  float: left;
}

nav{
  background-color: #ECECEC;
  text-align: center;
  padding: 5%;
}

ul{
  padding: 5%;
  border-bottom: 1px solid black;
}

.route{
  text-align: left;
}

.whitebox{
  background-color: #fff;
  width: 250px;
  height: 35px;
  margin: auto;
}

.nowBoarding{
  border-bottom: none;
  background-color: #ECECEC;
  text-align: center;
}

.frequency{
  display: inline-block;
  float: right;
  margin-right: 8%;
}

.line{
  display: inline;
  font-weight: 700;
}

.boardingtext{
  padding: 5%;
}

.min{
  padding-top: 2%;
  text-align: right;
  margin-right: 8%;
}

.fa-chevron-left{
  float: left;
}

.fa-bars{
  float: right;
}

.fa-exclamation-circle{
  color: red;
}
