body{
  width: 375px
}

nav{
  background-color: #ECECEC;
  text-align: center;
  padding: 5%;
}

div{
  padding: 5%;
  border-bottom: 1px solid black;
}

h1{
}

.route{
  text-align: left;
}

.whitebox{
  background-color: #fff;
}

.nowBoarding{
  border-bottom: none;
  background-color: #ECECEC;
  text-align: center;
  margin: 1%;
}

.eastBound{
}

.northBound{
}

.southBound{
}

.reroute{
}

.outOfService{
}

.frequency{
  display: inline-block;
  float: right;
}

.backButton{
  display:inline;
  padding-right: 0%
}

.line{
  display: inline-block;
}

.boardingtext{
  padding: 5%;
}
